#make_web {
	background-color: #1abc9c;
	text-align: center;
	padding: 80px;
	margin: 0;
}

#pr {
	color: #ed2f78;
}

#m {
	text-align: center;
	color: #f54e4e;
}
#n {
	text-align: center;
	color:#e5ff00 ;
}
#l {
	text-align: center;
	color:#1eff00 ;
}
#b {
	text-align: center;
	color:#00f2ff ;
}
#k {
	text-align: center;
	color: #757aff;
}
#j {
	text-align: center;
	color: #fc6fd9;
}

#hg {
	color: white;
	background-color: #6f6ffc;
	text-align: center;
}

#hf {
	color: #757aff;
	
}
#hu {
	color: #fc6fd9;
	

}

#face {
	color: #fc6f6f;
}

#gh {
	color: #fc6f6f;
}
#uy{
	color: #fccf6f;
}

#gr {
	background-color: black;
	color: #fc6fe7;
	text-align: center;
}